.RightSide{
    text-align: center;
    height: 100%;
}
.ChatTitle{
    height: 2rem;
    border-bottom: 1px solid black;
}
.RightSideScroll{
    height: 39rem;
    overflow-y: auto;
    text-align: left;
}