.Main-Seccion{
    height: 90%;
}
#Middle-Page{
    padding: 0px;
    height: 100%;
    width: 77%;
    border-right: 1px solid #333333;
}
#Right-Page{
    padding: 0px;
    height: 100%;
    width: 23%;
}