@keyframes spaceMove {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}
.pages {
	padding-top: 4rem; /*IMPORTANTISIMO SINO EL SIDEBAR SE MUERE*/
	background: linear-gradient(
		270deg,
		#3e13b8,   /* 15% más oscuro que #5c1aff */
		#9e1c8d,   /* 15% más oscuro que #c724b1 */
		#d158b2,   /* 15% más oscuro que #ff6ad5 */
		#46afd1,   /* 15% más oscuro que #56ccf2 */
		#2467bb,   /* 15% más oscuro que #2f80ed */
		#7d1acb    /* 15% más oscuro que #a020f0 */
	);
	background-size: 800% 800%;
	animation: spaceMove 18s ease infinite;
	color: rgb(var(--starlight-gray));
	overflow: hidden;
}

.card {
	border-radius: 24px;
	box-shadow: 0 0 15px rgba(92, 26, 255, 0.2),
				0 0 25px rgba(160, 32, 240, 0.15);
	
	color: rgb(var(--starlight-gray));
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: 0 0 20px rgba(160, 32, 240, 0.4),
				0 0 35px rgba(255, 110, 199, 0.25);
}
@keyframes cardGlow {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}